{% extends "base.html" %}

{% set generos = [
	'ROCK',
	'ELECTRONIC',
	'POP',
	'FUNK/SOUL',
	'HIP HOP',
	'CLASSICAL',
	'LATIN',
	'REGGAE',
	'BLUES',
	'MEGA MIX',
	'POP ROCK',
	'ELECTRO',
	'DEEP HOUSE',
	'HOUSE',
	'FLASH HOUSE',
	'FLASH DANCE',
	'MIANI BASS',
	'FREE STYLE',
	'BLACK MUSIC',
	'PSYCADELIC'
] %}

{% set formatos = [
	'7\'',
	'10\'',
	'12\'',
	'LP',
	'PICTURE',
	'CD ALBUM',
	'CD SINGLE'
] %}

{% set conditions = [
	{ "key": "VG", "value": "(VG) - muito bom mas com marcas no disco como pequenos riscos" },
	{ "key": "VG+", "value": "(VG+) - muito bom com poucas marcas poucos riscos" },
	{ "key": "NM", "value": "(NM) - near mint perfeito sem riscos" },
	{ "key": "M", "value": "(M) - mint lacrado ou estava lacrado e foi aberto" }
] %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	<form action="/vinyl" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{{ vinyl.getId() }}">
		<div class="form-group">
			<label for="vinyl-titulo">Titúlo</label>
			<input type="text" class="form-control" id="vinyl-titulo" name="titulo" placeholder="Titúlo" value="{{ vinyl.getTitle() }}"/>
		</div>
		<div class="form-group">
			<label for="vinyl-descricao">Descrição</label>
			<textarea name="descricao" class="form-control" id="vinyl-descricao" name="descricao">{% spaceless %}
				{{ vinyl.getDescription() }}
			{% endspaceless %}</textarea>
		</div>
		<div class="form-group">
			<label for="vinyl-condicao">Condição do Vinyl</label>
			<select class="form-control" name="condicao" id="vinyl-condicao">
				{% for condition in conditions %}
					<option value="{{ condition.key }}" {{ vinyl.getCondition() == condition.key ? 'selected' : '' }}>{{ condition.value }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<label for="vinyl-ano">Ano</label>
			<select class="form-control" name="ano" id="vinyl-ano">
				{% for i in 2020..1950 %}
					<option value="{{ i }}" {{ vinyl.getYear() == i ? 'selected' : '' }}>{{ i }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<label for="vinyl-genero">Genêro</label>
			<select class="form-control" name="genero" id="vinyl-genero">
				{% for genero in generos %}
					<option value="{{ genero }}" {{ vinyl.getGenre() == genero ? 'selected' : '' }}>{{ genero }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<label for="vinyl-formato">Formato</label>
			<select class="form-control" name="formato" id="vinyl-formato">
				{% for formato in formatos %}
					<option value="{{ formato }}" {{ vinyl.getFormat() == formato ? 'selected' : '' }}>{{ formato }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<label for="vinyl-preco">Preço</label>
			<input type="text" class="form-control money" id="vinyl-preco" name="preco" placeholder="R$ 150,00" value=" {{ vinyl.getPrice() }}" />
		</div>
		<div class="form-group">
			<label for="vinyl-foto">Fotos</label>
			<input type="file" id="vinyl-foto" name="fotos[]" accept="image/jpg" multiple/>
			<p class="help-block">Você pode selecionar mais de uma foto, basta segurar CTRL e ir selecionando todas que desejar</p>
		</div>
		<div class="col-md-12 text-right">
			<button type="submit" class="btn btn-success">Salvar</button>
		</div>
	</form>
	</div>
</div>
{% endblock %}

{% block scripts %}
	<script src="/assets/js/maskMoney.js" type="text/javascript"></script>
	<script>
		(function(){
			$('.money').maskMoney({prefix:'R$ ', thousands:'.', decimal:','});
			$('.money').trigger('mask.maskMoney');
		})();
	</script>
{% endblock %}